ul {
  list-style-type: none;
}

.main_wrapper {
  border: 1px solid tomato;
  display: flex;
  height: 300px;
  width: 300px;
}

.wrapper_btn {
  width: 50%;
  border: 1px solid maroon;
  background-color: aqua;
  display: flex;
  justify-content: end;
}

button {
  color: red;  
}

.to_do_div {
  background-color: lightgoldenrodyellow;
  border: 1px solid tomato;
  height: 300px;
  width: 300px;
}
