h1,
h2,
div {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main_wrapper {
  background-color: beige;
  width: 1000px;
  height: 600px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.title_wrapper {
  font-size: large;
  font-weight: bold;
}

.content_wrapper {
  display: flex;
  .text_area {
    width: 250px;
  }
  .del_btn {
    background-color: #ff5f49;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
  }
}

.do_it_wrapper {
  background-color: lightpink;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.complete_wrapper {
  background-color: lightblue;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.add_btn {
  border: 1px solid salmon;
  background-color: #db72cf;
  color: white;
  font-size: large;
  border-radius: 10%;
  display: flex;
  align-items: center;
  margin: 10px auto;
}
